# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
**/.env
.env.local

# Angular build
dist/
**/dist/

# Angular cache
.angular/
**/.angular/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/